body {
	font-family: 'Book Antiqua';
	font-weight: bold;
	min-height: 100vh;
	height: 100%;
	margin: 0;
	background-color: #ffffff;
}

.custom-container {
	display: flex;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
	display: flex;
}

.logo-container {
	background-color: #C48B5F;
	color: #fff;
	padding: 20px;
	width: 30%;
}

.logo {
	max-width: 100%;
	width: 100%;
}

#SignUpForm{
	height: 1000px;
}

.form-container {
	flex: 1;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	height: 1000px;
}

.form-container h3 {
	margin-top: 0;
}

.btn{
	width: 200px;
	background: #f3b340;
	font-weight: bold;
	border: none;
}
