<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <h1>Student Page</h1>

    <form method="post" action="/student">
        <label for="name">Prénom:</label>
        <input type="text" id="name" name="name"><br>
        <label for="lname">Nom:</label>
        <input type="text" id="lname" name="lname"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <label for="confirmPassword">Confirm:</label>
        <input type="password" id="confirmPassword" name="password"><br>
        <input type="submit" value="Ajouter">
    </form>
    <button action="/student/google">Google log in</button><br>
    <div th:each="student : ${students}">
        <fieldset>
            <div>
                <p th:text="${student.name}" style="display: inline-block;"></p>
                <p th:text="${student.lname}" style="display: inline-block;"></p>
            </div>
            <p th:text="${student.email}"></p>
        </fieldset>
    </div>


</body>
</html>